In [1]:
s=set()
s={1,2,3,4}
print(s)

{1, 2, 3, 4}

In [2]:
s=set(10)
print(s)

TypeError: 'int' object is not iterable

In [3]:
s=set('hello')

print(s)

{'o', 'e', 'l', 'h'}

In [6]:
s.add('ravi')
print(s)

{'e', 'l', 'h', 'o', 'ravi', 'g'}

In [7]:
s.update("kumar")
print(s)

{'m', 'e', 'u', 'a', 'k', 'l', 'h', 'o', 'ravi', 'r', 'g'}

In [8]:
s.update(10)

TypeError: 'int' object is not iterable

In [10]:
s.update([1,2,3])
print(s)

{'m', 1, 2, 3, 'e', 'u', 'a', 'k', 'l', 'h', 'o', 'ravi', 'r', 'g'}

In [12]:
s.update((4,5,6))
print(s)

{'m', 1, 2, 3, 4, 5, 'e', 6, 'u', 'a', 'k', 'l', 'h', 'o', 'ravi', 'r', 'g'}

In [13]:
s.add([9,8])

TypeError: unhashable type: 'list'

In [16]:
s.add((78,90))
print(s)

{'m', 1, 2, 3, 4, 5, 'e', 6, 'u', (78, 90), 'a', 'k', 'l', 'h', 'o', 'ravi', 'r', 'g'}

In [18]:
s.add(10)
print(s)

{1, 2, 3, 4, 5, 6, 'e', 10, 'k', 'l', 'u', 'g', 'a', 'h', 'ravi', 'm', (78, 90), 'o', 'r'}

In [22]:
s.remove(2)
print(s)

{3, 4, 5, 6, 'e', 10, 'k', 'l', 'u', 'g', 'a', 'h', 'ravi', 'm', (78, 90), 'o', 'r'}

In [26]:
print(s.pop())

6

In [27]:
for i in s:
    print(s[i])

TypeError: 'set' object is not subscriptable

In [30]:
s1=s
print(id(s1))
print(id(s))

2375710047616
2375710047616

In [31]:
s.pop()

'e'

In [32]:

print(id(s1))
print(id(s))

2375710047616
2375710047616

In [34]:
print(s1)
print(s)

{10, 'k', 'l', 'u', 'g', 'a', 'h', 'ravi', 'm', (78, 90), 'o', 'r'}
{10, 'k', 'l', 'u', 'g', 'a', 'h', 'ravi', 'm', (78, 90), 'o', 'r'}

In [35]:
s1=s.copy()
print(id(s))
print(id(s1))

2375710047616
2375731598208

In [36]:
s=set()
s.update(range(10))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
s.update(range(1,100,10))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 21, 31, 41, 51, 61, 71, 81, 91}

In [39]:
s.add(10)

In [43]:
s=set()
s={i*5 for i in range(10) if i%2==0}

In [44]:
print(s)

{0, 40, 10, 20, 30}

In [45]:
s=set(10)

TypeError: 'int' object is not iterable

In [46]:
s=set('missippi')
print(s)

{'i', 'm', 's', 'p'}

In [47]:
s.add([10,10])

TypeError: unhashable type: 'list'

In [51]:
val='p'
if val in s:
    s.remove(val)
print(s)

{'i', 'm', 's'}

In [60]:
s.discard('1')
print(s)

print(s1)

s.difference(s1)
s1.difference(s)

s.difference_update(s1)

print(s)

print(s.intersection(s1))

{'i', 's'}
{'m', 'u', 10, (78, 90), 'a', 'k', 'l', 'h', 'o', 'ravi', 'r', 'g'}
{'i', 's'}
set()

In [61]:
s={1,2,3,4}
s1={6,7,8,9}

print(s+s1)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [62]:
s1+1

TypeError: unsupported operand type(s) for +: 'set' and 'int'

In [63]:
s1*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [65]:
print(s1)
print(s)
s.add(s1)

{8, 9, 6, 7}
{1, 2, 3, 4}

TypeError: unhashable type: 'set'

In [69]:
print(s1)
print(s)
s1.add(40)

print(s)
print(s1)

{6, 7, 8, 9, 40}
{1, 2, 3, 4, 40}
{1, 2, 3, 4, 40}
{6, 7, 8, 9, 40}

In [70]:
print(s.union(s1))

{1, 2, 3, 4, 6, 7, 40, 8, 9}

In [71]:
print(s.intersection(s1))

{40}

In [72]:
print(s.difference(s1))

{1, 2, 3, 4}

In [73]:
print(s.symmetric_difference(s1))

{1, 2, 3, 4, 6, 7, 8, 9}

In [74]:
s=[1,3,4]
s1=[1,3,4]

print(id(s))
print(id(s1))

2375684891264
2375684890432